@import "tailwindcss";

/**
  * Now instead of dark:* utilities being applied based on prefers-color-scheme,
  * they will be applied whenever the dark class is present earlier in the HTML tree
  * https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually
**/
@custom-variant dark (&:where(.dark, .dark *));

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
