---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav class="flex justify-between bg-gray-100 dark:bg-gray-800 px-4 py-2">
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
