---
import Link from "./common/Link.astro";


---

<div class="flex gap-4">
  <Link url="/">Home</Link>
  <Link url="/about">About</Link>
  <Link url="/blog">Blog</Link>
  <Link url="/tags/">Tags</Link>
</div>
